.Funcao{
  flex: 0 0 auto;
  width: 60vw;
  height: 20vh;
  background-color: #B7DBF4;
  border: 3px solid #1565C0;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  scroll-snap-align: start;
  position: relative;
}

#IconeUsuario{
width: 55px;
height: 55px;
}

.Check{
  font-size: 170%;
  top: 10px;
  right: 10px;
  position: absolute;
}


.Funcao h6{
  font-family: 'Inter';
  margin: 0px 0px 0px 0px;
  font-size: 130%;
}

.Funcao h3{
  font-family: 'Inter';
  margin: 0px 0px 0px 0px;
  font-size: 90% ;
}

.Estrela{
  font-size: 100%;
  color:yellow;
  margin: 0px 0px 0px 0px;
}

.Reboco{
  width: 60%;
  height: 15%;
  background-color: #ffffff;
  border: 3px solid #1565C0;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.Funcao .Reboco h6{
  font-family: 'Inter';
  margin: 5px 0;
  font-size: 100%;
}

@media (min-width: 320px) and (max-width: 375px){
  .Reboco{
    width: 80%;
  }
}

@media (min-width: 600px){
  .Funcao{
    width: 40vw;
    height: 15vh;
  }
}

@media (min-width: 900px){
  .Funcao{
    width: 25vw;
    height: 15vh;
    border-radius: 20px;
    scroll-snap-align: unset;
  }

  .Reboco{
    width: 80%;
  }
}

@media (min-width: 1300px){
  .Funcao{
    width: 25vw;
    height: 20vh;
  }

  .Funcao h6{
    font-size: 150%;
  }
  
  .Funcao h3{
    font-size: 110% ;
  }

  .Reboco{
    width: 70%;
    font-size: 120%;
  }
}

@media (min-width: 1900px){
  .Funcao{
    width: 25vw;
    height: 25vh;
  }

  #IconeUsuario{
    width: 70px;
    height: 70px;
  }

  .Check{
    font-size: 230%;
  }

  .Funcao h6{
    font-size: 170%;
  }
  
  .Funcao h3{
    font-size: 130% ;
  }

  .Reboco{
    width: 70%;
    font-size: 150%;
  }
}

