*{
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.NavBar {
  display: flex;
  background-color: #1565c0;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.NavBar img{
  width:70px;
  height: 70px;
}

.search-box {
  display: flex;
  width: 50%;
  align-items: center;
}

#search {
  width: 100%;
  height: 2.1rem;
  border-radius: 10px;
  border: none;
  text-align: center;
}

#search-button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: white;
}

.menu-btn {
  cursor: pointer;
  color: white;
}

.menu {
  position: fixed;
  top: 64px;
  right: -100%;
  z-index: 1000;
  width: 60%;
  height: 100vh;
  background-color: #1565c0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  transition: right 0.3s ease;
  color: white;
}

.menu.open {
  right: 0;
}

.menu li {
  margin: 20px 0;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
}

.menu h5 {
  color: white;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Inter";
  font-weight: 600;
}

.menu li a, .menu li .icon {
  color: white;
  font-family: 'Inter';
  font-weight: 600;
  text-decoration: none;
}

.menu li {
  display: flex; 
  align-items: center; 
  font-family: 'Inter';
  font-weight: 600;
  text-decoration: none;
  color: white;
}

.icon {
  font-size: 33px; 
  margin-right: 20px; 
}

.menu li:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 10px 20px;
}

.fa-bars, .fa-times {
  color: white;
}

@media (min-width: 820px) {
body {
  overflow-x: hidden;
}

.NavBar {
  display: flex;
  flex: 1;
  background-color: #1565c0;
  align-items: center;
  width: 100%;
  height: 8%;
  box-sizing: border-box;
  justify-content: space-around;
}

.search-box{
  margin-left: 30px;
}

.icons{
  display: flex;
  gap: 25px;

}

.home-icon {
  color: white;
  font-size: 25px;

}

.clipboard-icon {
  color: white;
  font-size: 25px;

}
.user-icon {
  color: white;
  font-size: 25px;

}
}

@media (min-width: 1900px) {
  body {
    overflow-x: hidden;
  }
  
  .NavBar {
    display: flex;
    flex: 1;
    background-color: #1565c0;
    align-items: center;
    width: 100%;
    height: 8%;
    box-sizing: border-box;
    justify-content: space-around;
  }
  

  .NavBar img{
    width:120px;
    height: 120px;
  }

  .search-box{
    margin-left: 100px;
  }
  
  .icons{
    display: flex;
    gap: 70px;
  }
  
  .home-icon {
    color: white;
    font-size: 45px;
  }
  
  .clipboard-icon {
    color: white;
    font-size: 45px;
  }

  .user-icon {
    color: white;
    font-size: 45px;
  }
  }