.PerfilUsuario{
    width: 100%;
    background-color: #B7DBF4;
    border-radius: 30px; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    padding: 3%;
  }
  
  .Perfil{
    display: flex;
    flex-wrap: wrap;
   
  }
  
  .PerfilUsuario img{
    width: 38px;
    height: 38px;
  
  }
  
  .PerfilUsuario h5{
    font-size: 18px;
    font-family: 'Inter';
  }
  
  .PerfilUsuario h6{
    font-size: 10px;
    font-family: 'Inter';
  }
  
  .Bolinha{
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: black;
  }