.PagPrincipal{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.PagPrincipal h1{
    font-size: 25px;
    color: black;
}

.gapImgTitle{
    flex-direction: column;
    align-content: space-around;
    margin-top: 2%;
    height: 60%;
}

.ImgCriar{
    width: 87%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.uploadImg{
    flex-direction: column;
    align-content: flex-end;
}

.AcertarForms{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width:100%;
    height: 30%;
    margin-top: 1%;
}

.camposCriarPost{
    flex-direction: row;
    justify-content: flex-start;
    width:100%;
    margin-top: 1%;
}

label{
    color: black;
    font-size: 18px;
    font-family: 'Inter';
    font-weight: 600;
}

input[id="Titulo"],
textarea {
            width: 80%;
            height: 10%;
            padding: 2%;
            border: 2px solid #1565C0;
            border-radius: 10px;
        }

input[id="Descricao"],
textarea {
            width: 80%;
            height: 10%;
            padding: 2%;
            border: 2px solid #1565C0;
            border-radius: 10px;
        }

label[id="nomeTitulo"],
textarea{
            margin-right: 39%;
        }

label[id="nomeDescricao"],
textarea{
            margin-right: 37%;
        }


        /* Div da Lista e da Precificacao*/
        .cidadePreco {
            display: flex;
            align-content: flex-end;
            justify-content: space-between;
            height: 40%;
            width: 110%;
            gap: 5%;
        }

        /* Estilização da Lista de cidades */
        .cidadeLista {
            display: flex;
            flex-direction: column;
            height: 200%;
        }

        .tituloLista {
            font-family: 'Inter', sans-serif !important;
            font-size: 18px !important;
        }

        .selectCampo {
            border-radius: 5px; 
            border-color: #1565C0;
            border-width: 2px;
            width: 90%;
            height: 5%;
            font-family: 'Inter';
            font-size: 14px;
            appearance: none;
        }

        .selectCampo:focus {   /* Muda a cor da borda quando ta em foco*/
            outline: none;
            border-color: #1565C0;
            border-radius: 5px;
            font-family: 'Inter', sans-serif !important;
        }

        .selectCampo option {
            border-color: #1565C0;
            border-width: 2px;
            background-color: white;
            color: #1565C0;
            font-family: 'Inter', sans-serif !important;
        }

        .campoSelected {
            font-style: bold;
            font-size: 13px;
            border-radius: none;
        }
        /* Fim da lisda de cidades*/


        .pricing-section {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: start;
            padding-top: 1%;
        }

        .pricing-options {
            display: flex;
            align-items: center;
            gap: 15px;
        }

        .pricing-options label {
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 14px;
        }

        .pricing-inputs {
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 14px;
        }

        .pricing-inputs input[type="text"] {
            width: 70px;
            padding: 5px;
            font-size: 14px;
            font-family: 'Inter', sans-serif !important;
            border-radius: 12%;
            border-color: #1565C0;
        }

        .pricing-inputs input[type='text']:focus {
            outline: none;
            width: 70px;
            padding: 5px;
            font-size: 14px;
            font-family: 'Inter', sans-serif !important;
            border-radius: 12%;
            border-color: #1565C0 !important;
        }

        input[type="checkbox"] {
            width: 16px;
            height: 16px;
        }


        .divBotao {
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: center;
            padding: 2%;
            width: 96%;
            height: 35%;
        }

        .botaoPost {
            background-color: #1565C0;
            color: white;
            font-family: 'Inter';
            font-size: 15px;
            font-weight: 700;
            height: 15%;
            width: 20%;
            border-radius: 10px;
            border: none;
            justify-content: center;
        }