@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.PubliPerfil {
    width: 560px;
    max-height: 700px; 
    border: 3px solid #1565C0;
    border-radius: 25px;
    background-color: #fff; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px; 
    margin-top: 3%;
    align-items: center;
}

h4 {
    font-family: 'Inter', sans-serif;
    font-size: 14px; 
    margin: 0;
    padding: 0;
}

h5 {
    font-family: 'Inter', sans-serif;
    font-size: 20px; 
}

h6 {
    font-family: 'Inter', sans-serif;
    font-size: 14px; 
}

.verMais {
    color: blue;
    cursor: pointer;
}

.ImagensPost {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
  
.imagem-principal {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
  
.ImagensMenores {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  
.imagem-menor {
    width: 130px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}
  

.BotoesAcao {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.CriarPost {
    width: 300px;
    height: 45px;
    background-color: #B7DBF4;
    border-radius: 35px;
    border: 2px solid #1565C0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    padding: 0 10px;
}
  
.CriarPost:hover {
    background-color: #9CCBF4;
    border-color: #0D47A1;
}
  
.CriarPost h1 {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin: 0;
}
 
.icone-editar, .icone-compartilhar {
    width: 24px;
    height: 24px;
    margin: 0 25px;
}

.Bolinha{
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: black;
}