@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Inter';
}

.ComponenteAva {
    width: 510px;
    height: 520px;
    background-color: white;
    border-radius: 15px; 
    border: 5px solid #B7DBF4; 
    box-sizing: border-box; 
    margin: 20px; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
}

.header {
    display: flex;
    align-items: center; 
    margin-bottom: 15px; 
}
.header > span{
    font-size: 12px;
}

.header > h1{
    font-size: 25px;
    font-family: 'Inter';
    margin: 0;
    color: black;
}

.IconeAva > h5{
    font-size: 15px;
    font-family: 'Inter';
    margin: 0 10px;
}

.ComponenteAva > h6{
    font-size: 12px;
    font-family: 'Inter';
    margin: 0 0 0 10px;
}

.EstrelaIcon{
    display: flex;
    gap: 3px;
    margin-bottom: 20px;
}

.estrela{
    font-size: 25px;
}

.EstrelaIconSmall{
    display: flex;
    gap: 2px;
}

.estrelaSmall{
    font-size: 12px;
}

.Avaliacao {
    width: 460px;
    background-color: #B7DBF4;
    border-radius: 15px;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.IconeAva{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.iconeUsuario{
    width: 25px; 
    height: 25px;
}

.info {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
}

.Bolinha {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: black;
    margin: 5px 0; 
}

.descricao {
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    margin-top: 10px; 
}

@media (min-width: 300px){
    .ComponenteAva {
        width: 90%;
        height: min-content;
        margin: 20px; 
    }
    
    .header > h1{
        font-size: 25px;
        margin-top: 15px;
    }
    
    .IconeAva > h5{
        font-size: 15px;
        margin: 0px;
    }
    
    .ComponenteAva > h6{
        font-size: 19px;
        margin-bottom: 10px;
    }

    .estrela{
        font-size: 23px;
    }

    .estrelaSmall{
        font-size: 13px;
    }
    
    .Avaliacao {
        width: 85%;
        margin-bottom: 10px;
        padding: 10px;
    }
    
    .IconeAva{
        gap: 10px;
    }
    
    .iconeUsuario{
        width: 25px; 
        height: 25px;
    }
    
    .Bolinha {
        width: 5px;
        height: 5px;
        margin-top: 5px; 
    }
    
    .descricao {
        width: 100%;
        font-size: 14px;
        margin-top: 10px; 
    }
}

@media (min-width: 600px){
    .ComponenteAva {
        width: 75%;
        height: min-content;
        margin: 20px; 
    }
}

@media (min-width: 900px){
    .ComponenteAva {
        width: 100%;
    }
    
    
    .IconeAva > h5{
        font-size: 18px;
        margin: 0px;
    }
    
    .ComponenteAva > h6{
        font-size: 20px;
    }

    .estrela{
        font-size: 25px;
    }

    .estrelaSmall{
        font-size: 15px;
    }
    
    .Avaliacao {
        width: 85%;
    }
    
    .iconeUsuario{
        width: 30px; 
        height: 30px;
    }
    
    .Bolinha {
        margin-top: 7px; 
    }
    
    .descricao {
        font-size: 14px;
    }
}